<h2>Fast-Notes</h2>
<ul class="notas">
  <li *ngFor="let note of notas | async"
    [class.selected]="note === selectedNote"
    (click)="onSelect(note)">
    <span class="badge">{{note.id}}</span> {{note.title}}
  </li>
</ul>
<app-note-detail [note]="selectedNote"></app-note-detail>

<!-- el componente solo debe mostrar los detalles de la nota seleccionada si selectedNote existe
  (ojo  cuando se inicia la appp selectedNote es undefined por diseño, no hay ninguna nota seleccionada) -->
<div *ngIf="selectedNote">
  <!-- seccion que al hacer click en una nota de la lista y revelar los detalles  -->
<h2>{{selectedNote.title | uppercase}} </h2>
<div><span>id: </span>{{selectedNote.id}}</div>
<div><span>title: </span>{{selectedNote.title}}</div>
<div><span>description: </span>{{selectedNote.description}}</div>
<div>
  <label for="note-title">Titulo: </label>
  <input type="text" id="note-title" [(ngModel)]= "selectedNote.title" placeholder="Titulo">
</div>
</div>
<!-- <ul>
  <li class="text" *ngFor="let note of notas | async">
    {{note.title}}
  </li>
</ul> -->
<!-- <app-notes></app-notes> -->
