:root {
  --green: #00A19B;
  --red: #EC1D24;
  --blue: #2f53fe;
  --black: #202020;
  --white: #fefefe;
}
body {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.page {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute;
  z-index: 1;

  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas: "nav     aside"
                       "section aside"
                       "footer  aside";

  height: 100%;
  width: 100%;
}
.navbar {
  background: var(--green);
  grid-area: nav;
  display: flex;
}
.navbar_content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0 0 80px;

  animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
  0% {
      transform: translateY(-200px);
  }
  100% {
      transform: translateY(0px);
  }
}
.navbar_content h1{
  color: aliceblue;
}
.navbar_content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0%;
  width: 450px;
  color: aliceblue;
}
.navbar_content ul li a {
  color: var(--black);
  font-weight: 400;
  text-decoration: none;
  color: aliceblue;
}
