<div class="container">
  <div class="card text center">
    <div class="card body">
      <form class="form-create-note">
        <h2>Crear notas</h2>
        <div>
          <input class="input-title" type="text" placeholder="Titulo" id="title-note">
        </div>
        <div>
          <input class="input-description" type="text" placeholder="Descripcion" id="description-note">
        </div>
        <div>
          <!-- <button class="btn-note" type="submit"><i class="fas fa-angle-double-left"></i></button> -->
          <button class="btn-back" type="submit" routerLink="/notes">Volver</button>
          <button class="btn-add" type="submit">Añadir</button>
        </div>
      </form>
    </div>
  </div>
</div>
