/* NotesComponent's private CSS styles */
body {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn-add {
  background: #00a19b;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin: 7px;
  padding: 10px 0;
  text-align: center;
  width: 250px;
  text-decoration: none;
  box-shadow: 0px 3px 0 grey;
  cursor: pointer;
  border-radius: 50px;
}
.notas {
  font-family: Lato;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}
.notas li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.notas li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.notas li.selected {
  background-color: black;
  color: white;
}
.notas li.selected:hover {
  background-color: #505050;
  color: white;
}
.notas li.selected:active {
  background-color: black;
  color: white;
}
.notas .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#00a19b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

.btn-delete{
  position: relative;
  box-shadow: 0px 2px 2px grey;
}


