<body>
<section class="main-content">
  <p>Escribe tus </p>
  <h1>Fast Notes</h1>

  <main >
    <div class="container">
      <h2>LISTADO DE NOTAS</h2>
      <div>
        <button class="btn-add" routerLink="/create-notes">Añadir nota</button>
      </div>
      <h2 *ngIf="notes.length == 0">¡ups! No hay notas para mostrar</h2>
      <ul class="notas" *ngIf="notes.length > 0">
        <li *ngFor="let note of notes" >
          <span class="badge">{{note.title}}</span> {{note.description}}
          <a [routerLink]="['/edit-note', note.id]">
            <i class="far fa-edit"></i>
          </a>
          <button class="btn-delete" type="button" (click)="deleteNotes(note.id)"> <i class="fas fa-trash-alt"></i></button>
        </li>
      </ul>
    </div>
  </main>

</section>
</body>



