<body>
  <div>
    <section class="container">
      <h1>Fast Notes</h1>
      <p>Tus notas tan rápidas como una entrada a pits</p>
      <svg width="464px" height="445px">
        <circle cx="95" cy="91" r="300" fill="#00A19B" stroke="none"/>
      </svg>
      <section class="container-register">
        <div id="ovalo"></div>
        <form class="form-register">
            <h2>Crea una cuenta</h2>
            <input class="input-name" type="text" placeholder="     Ingresa un nombre de usuario" id="nickname">
            <input class="input-email" type="text" placeholder="     Ingresa un correo válido" id="email">
            <input class="input-password" type="password" placeholder="     Crea una Contraseña" id="password">
            <h3>Registro</h3>
            <button class="btn-register" type="submit"><i class="fas fa-angle-double-right"></i></button>
            <p class="text-login"><a routerLink="/login">Inicie sesión</a></p>
        </form>

        <svg width="221px" height="233px" class="ellipse-2">
          <circle cx="154" cy="579" r="100" fill="#00A19B" stroke="none"/>
       </svg>


      </section>
    </section>
  </div>
</body>
