<body>
  <div>
    <section class="container">
      <h1>Fast Notes</h1>
      <p>Tus notas tan rápidas como una entrada a pits</p>
      <svg width="464px" height="445px">
        <circle cx="95" cy="91" r="300" fill="#00A19B" stroke="none"/>
      </svg>
      <section class="container-home">
        <div id="ovalo"></div>
        <form class="form">
            <h2>Estas a un click</h2>
            <button class="btn-email"><span><i class="fas fa-envelope"></i></span> Continue con email</button>
            <button class="btn-google" (click)="loginGoogle()"><span><i class="fab fa-google"></i></span>  Continue con Google</button>
            <button class="btn-facebook"><span><i class="fab fa-facebook"></i></span>  Continue con Facebook</button>
            <button class="btn-join" type="submit"><i class="fas fa-angle-double-right"></i></button>
            <p class="text-register"><a routerLink="/register">Regístro</a></p>
            <p class="text-login"><a routerLink="/login">Inicie sesión</a></p>
        </form>

        <svg width="221px" height="233px" class="ellipse-2">
          <circle cx="154" cy="579" r="100" fill="#00A19B" stroke="none"/>
       </svg>


      </section>
    </section>
  </div>
</body>
